.profile {
    composes: card from global;
    margin: 12px auto;
    overflow: hidden;
}

.description {
    text-align: center;
    padding: 24px 0;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: steelblue;
    margin-bottom: 12px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: steelblue;
    margin: 0 auto 24px;
}

.tag,
.location {
    color: gray;
    margin-bottom: 6px;
}

.stats {
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
}

.stats__item {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: white;
    padding: 24px 0;
}

.stats__item:not(:last-child) {
    border-right: 1px solid white;
}

.label {
    display: block;
    padding-bottom: 6px;
}

.quantity {
    display: block;
    font-weight: bold;
}
