.statistics {
    composes: card from global;
    text-align: center;
    margin: 12px auto 12px auto;
    overflow: hidden;
    padding-top: 24px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: palevioletred;
    margin-bottom: 24px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 0;
    background-color: palevioletred;
    color: #fff;
}

.list_item:not(:last-child) {
    border-right: 1px solid white;
}

.label {
    font-size: 12px;
    margin-bottom: 6px;
}

.percentage {
    font-size: 18px;
    font-weight: bold;
}
